.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.5rem 0rem 1.5rem 1.5rem;
    border-radius: 2rem;
    width: fit-content;
    height: fit-content;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
    cursor: default;
}

.portfolio__item-image img {
    width: 90%;
    height: 95%;
    border-radius: 1.5rem;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    /* margin-bottom: 1rem; */
}


/*################# Media Query Medium Devises(tablets) #####################*/


/*maximum size for tablet:1024px*/

@media screen and (max-width:1200px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .portfolio {
        height: auto;
    }
}


/*################# Media Query Small Devises(mobil phone) #####################*/


/*maxi size for mobil:600px*/

@media screen and (max-width:800px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}