@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body {
    background: var(--color-bg);
    color: var(--color-white);
    font-family: 'Poppins', sans-serif;
    /*distance between the top line and bottom line*/
    line-height: 1.7;
}

* {
    /*For every element on the page*/
    margin: 0;
    padding: 0;
    border: 0;
    /*line around*/
    outline: 0;
    /*include the border to the padding */
    box-sizing: border-box;
    /*Remove bullets for li tag*/
    list-style: none;
    /*Remove very a tag underline*/
    text-decoration: none;
}

:root {
    /*can be used anywhere in the root(in the web page)*/
    /*css variable*/
    --img-bg: '../../Assets/header.jpeg';
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4bd5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
    --transition: all 400ms ease;
    /*container size for different devises(more the devise is small more space we want to occupy)*/
    --container-width-lg: 75%;
    --container-width-md: 90%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
    /*scroll movement(smooth)*/
}

::-webkit-scrollbar {
    /*css properties for scrollbar(this case we remove scrollbar)*/
    display: none;
}


/* ******************* General style ***************** */

.container {
    /*styles for every class container(case for big devises)*/
    width: var(--container-width-lg);
    /*margin 0 top and bottom and auto left and right*/
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

section {
    /*all the component are going to be in a section(header,about,contact...)*/
    /*8rem is the space between the top and the bottom component*/
    margin-top: 8rem;
}

section>h2,
section>h5 {
    /*every section is going to have two children title: h5 and h2(we're also giving them some styles)*/
    text-align: center;
    color: var(--color-light);
}

section>h2 {
    /*overwriting h2 title color(we could've giving it its own text-align:center)*/
    color: var(--color-primary);
    /*margin-bottom for the space between the 2 titles*/
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-light);
}

a {
    color: var(--color-primary);
    transition: var(--transition);
}

a:hover {
    color: var(--color-white);
}

.btn {
    /*fit exactly its content*/
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    /*0.75rem top and bottom button padding and 1.2rem left and right*/
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-bg);
    border-color: transparent;
}

.img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.portfolio {
    color: lightpink;
    font-size: 2.5rem;
}


/*################# Media Query Medium Devises(tablets) #####################*/


/*maximum size for tablet:1024px*/

@media screen and (max-width:1024px) {
    .container {
        /*container size for tablet:85%*/
        width: var(--container-width-md);
    }
    section {
        /*margin top on tablet*/
        margin-top: 6rem;
    }
}


/*################# Media Query Small Devises(mobil phone) #####################*/


/*maxi size for mobil:600px*/

@media screen and (max-width:600px) {
    .container {
        /*container size for mobil:90%*/
        width: var(--container-width-sm);
    }
    section>h2 {
        /*margin title on mobil*/
        margin-bottom: 2rem;
    }
    /* mobile fonts size */
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-weight: 300;
    }
    h1 {
        font-size: 1.5rem;
    }
    .portfolio {
        color: lightpink;
        font-size: 1.5rem;
    }
}